$green_color: #70c05b;
$White_color: #fff;
$Header_Basket: #414141;
$orange_color: #ff6633;
$footer_background: #f9f4e2;
$discount_background: #fbf8ec;
$Gray__discount: #606060;
$heart__outline: #f9f8f8;
$discount__p_color: #bfbfbf;
$brown__color: #fbd3b9;
$green__bg: #e5ffde;
$color__F3F2: #f3f2f1;
$Gray__last: #8f8f8f;
$last__green: #E5FFDE;
$red_Color: red;
